/* Container styles */
.container {
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Button styles */
.button-container {
  text-align: center;
  margin-bottom: 20px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #45a049;
}

/* Form styles */
.form-container label {
  display: block;
  margin-bottom: 15px;
}

.form-container .image-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-container .item-image {
  width: 40px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px;
}

.form-container input[type="checkbox"] {
  margin-right: 10px;
}

.form-container button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button[type="submit"]:hover {
  background-color: #0056b3;
}
